html{
		width:100%; height:100%; 
		/*background-color: #edeaff;*/
	}
	body{
		background-color: white;
		margin:0;
	    padding:0;
	    height:100%;
	    width: 100%;
	    display: block;
	    font-family: 'Catamaran', sans-serif;

	     -webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		cursor: default;
	}

	p{
		display: inline;
		color: #8357db;
		font-size: 10vw;
		line-height: 1;
	}

	#container{
		background-color: white;
		margin:0;
	    padding:0;
	    height:100%;
	    width: 100%;
	    display: block;
	    /*font-family: 'Noto Serif', sans-serif;*/
	    font-family: 'Sora', sans-serif;
		overflow-y: scroll;
		overflow-x:hidden;
		scroll-snap-type: y mandatory;
	}

	#main{
		margin:0;
	    padding:0;
	    height:100%;
	    width: 100%;
	}

	#titlebar{
		/*background-color: #fafaf8;*/
		position: fixed;
		top:0;
		left:0;
		right: 0;
		z-index: 5;
		padding: 2vh 10vw 12vh 10vw;
		background:linear-gradient(0deg, rgba(255,255,255,0) 10%, rgba(252,252,250,1) 65%);
	}

	#titleIcon{
		height: 100%;
		font-size: 4vh;
		/* padding-left:10%; */
		font-family: 'Sora', sans-serif;
		display: inline-block;
		text-decoration: none;
		color: black;
	}


	.titleButton{
		height: 100%;
		padding-top: 10px;
		float: right;
		text-align: right;
		margin-right: 2vw;
		color:#aaaaaa;
		cursor:pointer;
		display: none;
		text-decoration: none;
		font-size: 18px;
	}

	.titleButton:hover{
		color: black;
	}

	.titleLinks > a{
		float:left;
		font-size: 24px;
		text-align: left; margin-left:0; margin-right:32px; vertical-align: top;
	}

	
	
	/* unvisited link */
	/* a:link {
	  color: purple;
	} */

	/* visited link */
	/* a:visited {
	  color: purple;
	} */


	.title{
		width:80%; 
		display: inline-block; 
		font-size: 50px; 
		margin: 150px 0 50px 10%; 
		font-weight: 600; 
		line-height: 1.2; 
		background-color: white;
	}

	.nextPage{
		text-align: center;
		font-size: 20px;
		width:auto;
		margin: 50px auto 0 auto;
		cursor:pointer;
		color:#bdbdbd;
		text-decoration: none;
	}

	.page{
		width:100%;
		min-height:100%;
		background-color: #fcfcfa;
		z-index: 1;
		padding-bottom:8vh;
		padding-top:13vh;
		scroll-snap-align: start;
  		scroll-snap-stop: normal;
	}

	.projectGrid{
		display: inline-grid; grid-template-columns: auto auto; object-fit: cover;
		width: 100vw; 
	}

	.projectGrid .project{
		position: relative;
		cursor: pointer;
	}

	.projectGrid img{
		height:50vw;
		width: 50vw;
		border-radius: 25vw;
		overflow: hidden;
		object-fit: cover;
		
	}

	.projectGrid .projectName{
	font-size: 4vw;
	color: black;
    line-height: 1.2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 2.5vw;
	}
	.projectGrid .projectClient{
		padding-top:3vw;
		font-size: 3vw;
	}

	#projectFrame{
		width: 50%;
		float: right;
	}



	.projectPara{
		font-size: 5vw;
		line-height: 1.5;
		padding:4vw 10vw;
		vertical-align: top;
	}

	
	.paraLine{
		font-family: 'Nanum Pen Script', cursive;
		padding-top: 30px;
	}

	.otherGrid{
		grid-template-columns: auto auto;
		}


		.heading{
			padding: 7% 0 30px 10% ;
			font-size: 12vw;
		}

		.workPara>div{
			font-size: 5vw;
		}

		#tree2{
			display: none;
		}

		#title{
			text-align: left;
			font-family: 'Sora', sans-serif;
			padding-left: 10%;
			font-size: 18vw;
			line-height: 1;
			margin-top:15vh;
			z-index: 5;
			transition: 0.5s;
		}

		#intro{
			display: flex;
		}
		#introPara{
			
			font-size: 7vw;
			line-height: 1.5;
			
		}

		/* Profile CSS */

		#profileGrid{
			margin:0 auto 200px auto;
			width: 80%;
			padding: 0 10%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: left;
		}
	
		#profileGrid>div{
			width:250px;
			margin: 0 5vw 10vw 0;
			background-color:#fcfcfa;
			display: inline-block;
			line-height: 1.8;
	
		}
		#profileGrid>div>img{
			object-fit: cover;
			height: 200px;
			width: 200px;
			border-radius: 50%;
		}
	
		.profileTile p{
			position: relative;
			font-size: 18px;
			color:black;
		}
	
		.profileText{
			font-family: 'Nanum Pen Script', cursive;
			font-size: 30px;
			margin-bottom: 10px;
		}


	



	@media only screen and (min-width: 600px) and (max-height:1000px) {

		.titleButton{
			display: inline-block;
		}

		.page{
			padding-top:10vh;
			padding-bottom:8vh;
		}

		.projectPara{
			font-size:2vw;
			padding-right:40vw;
		}

		p{
			font-size: 4vw;
		}

		.project:hover .projectName{
			opacity:1;
		}

		.projectGrid{
			margin: 0 10vw;
			/*width:80vw;*/
			width:50vw;
			grid-gap: 3vw;
		}

		.projectGrid img{
			/*width:40vw;
			height:40vw;*/
			width:25vw;
			height:25vw;
			transition: width .5s ease .5s;
		}

		.projectGrid .projectName{
	font-size: 1.6vw;
    padding: 2vw;
    opacity:0;
     transition: opacity .4s;
	}
	.projectGrid .projectClient{
		padding-top:1vw;
		font-size: 1.2vw;
	}

	.project:hover .projectName{
		opacity:1;
	}

	.project:hover img{
		width:50vw;
	}

		.projectLink1{
			font-size: 2vw;
			margin: 2vw 0;
			cursor: pointer;
		}

		.heading{
			font-size: 6vw;
		}
		
		.otherGrid{
			grid-template-columns: auto auto auto;
		}

		.otherGrid img{
		height:20vw;
		width: 20vw !important;
		/*border-radius: 16.5vw;*/
		}

		#otherPara{
			padding-right:50vw;
		}

		.workPara{
			font-size: 1.5vw;
		}

		.workPara>div{
			font-size: 1.5vw;
		}

		#tree2{
			display: block;
		}

		#title{
			font-size:8vw;
		}

		.titleButton{
			display: inline-block;
		}

		.jambhli{
			padding-left:5vw;
		}

		#introPara{
			font-size: 2vw;
		}

		#introImage{
			display:block;
		}

		


		#menuIcon{
			display: none;
			}
	
			#menu{
				display: none;
			}

		
		#profileGrid>div{
				margin: 0 10vw 8vw 0;
			}

		

	}