html{
		width:100%; height:100%; 
		/*background-color: #edeaff;*/
	}
	body{
		background-color: white;
		margin:0;
	    padding:0;
	    height:100%;
	    width: 100%;
	    display: block;
	    font-family: 'Catamaran', sans-serif;

	     -webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		cursor: default;
	}

	#titlebar{
		/*background-color: #fafaf8;*/
		position: fixed;
		top:0;
		left:0;
		right: 0;
		z-index: 5;
		padding: 2vh 10vw 12vh 10vw;
		background:linear-gradient(0deg, rgba(255,255,255,0) 10%, rgba(252,252,250,1) 65%);
	}

	#titleIcon{
		height: 100%;
		font-size: 4vh;
		/* padding-left:10%; */
		font-family: 'Sora', sans-serif;
		display: inline-block;
		text-decoration: none;
		color: black;
	}


	.titleButton{
		height: 100%;
		padding-top: 10px;
		float: right;
		text-align: right;
		margin-right: 2vw;
		color:#aaaaaa;
		cursor:pointer;
		display: none;
		text-decoration: none;
		font-size: 18px;
	}

	.titleButton:hover{
		color: black;
	}

		div:nth-last-child(2){
		min-width:50%;
	}

	div:nth-last-child(2) .profileTile{
		min-width:50px;
	}
	
	/* unvisited link */
	/* a:link {
	  color: purple;
	} */

	/* visited link */
	/* a:visited {
	  color: purple;
	} */


	.title{
		width:80%; 
		display: inline-block; 
		font-size: 50px; 
		margin: 150px 0 50px 10%; 
		font-weight: 600; 
		line-height: 1.2; 
		background-color: white;
	}

	.client{
		font-size: 30px; font-weight: 400; padding-top: 10px;
	}



	#workGrid{
		/*display: grid;
		
		padding: 0 10%;
		grid-gap: 10px;
		grid-row-gap: 70px;
		grid-column-gap: 20px;
		grid-template-columns: auto auto;*/
		display: flex;
		justify-content: center;
		
		padding: 0 10%;
		flex-wrap: wrap;
		max-width:800px;

	}
	#workGrid>p,h4{
		align-self:center;
		padding-right:20px;
		padding-bottom:70px;
		width: 280px;
	}

	#workGrid>p>img{
		object-fit: cover;
		height: 100%;
		/* width: 100%; */
		width: 350px;
	}


	p{
		font-size: 22px;
		line-height: 1.4;
		margin:50px 10px 0;
	}

	h4{
		font-size: 24px;
		font-weight: 600;
		line-height: 1.5;
		margin:50px 0;
	}
	

	.projectArea{
		position: absolute; bottom:10px; left:10px; font-size: 20px;
	}
	.profileTile{
		height:50px;
		width:50px;
		margin: 0 0 10px 10px;
		display: inline-block;
		
		position: relative;
		text-align: center;
		font-family: 'Nanum Pen Script', cursive;
		font-size: 30px;
		vertical-align: text-top;
	}
	.profileTile>img{
		object-fit: cover;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		margin-top: 10px;
	}

	#projectTopics{
		margin-left: 10%; 
		width:90%;
		margin-bottom: 30px;
	}

	#projectTopics>div{
		font-size: 20px;
		display: inline-block;
		margin-right: 70px;
		font-weight: 200;
	}


	@media only screen and (min-width: 600px) {
		p{
		margin:50px;
	}
	h4{
		margin:50px;
	}
	}


	@media only screen and (min-width: 600px) and (max-height:1000px) {
		#projectFrame{
			width: 75vw;
			margin-left:15vw;
		}

		.titleButton{
			display: inline-block;
		}

		}