---
layout: "wrapper"
---
    {% include header.html %}
	<div id="projectFrame">
	<div class="title">{{ page.title }}<div class="client">{{ page.client }}</div></div> 
	<div id="workGrid">
        {{ content}}
        <div style="margin:0 0 15vw 50px; width: 100%; display: flex; justify-content: space-between;">
            <div>{% include authors_section.html %}</div>
            <a class="Links" href="{{site.baseurl}}{{page.next.url}}" style="display: flex; height: 100px; text-align: right; align-items: center; gap: 10px;">
                {% if page.next.url %}
                <div>next project:<br>{{page.next.title}}</div>
                <div class="profileTile"><img src="{{site.baseurl}}{{page.next.coverImage}}"></div>
                {% endif %}
            </a>
        </div>
        
    </div>
    
    </div>
   