---
layout: "wrapper"
---
    {% include header.html %}
	<div id="projectFrame">
	<div class="title">{{ page.title }}<div class="client">{{ page.client }}</div></div> 
	<div id="workGrid">
        {{ content}}
        <div class="authorBox">
            <div>{% include authors_section.html %}</div>
            <a class="Links nextProjectBox" href="{{site.baseurl}}{{page.next.url}}" style="">
                {% if page.next.url %}
                <div>next project:<br>{{page.next.title}}</div>
                <div class="profileTile projectTile"><img src="{{site.baseurl}}{{page.next.coverImage}}"></div>
                {% endif %}
            </a>
        </div>
        
    </div>
    
    </div>
   